
<body>
    <section>
        <div>
            <ul>
                <li id="li1">
                    <img src= "assets/devices.png"> 
                    <span> {{nbsession}} Sessions </span>
                </li>
                <li  id="li2">
                    <img src= "assets/affiliate.png"> 
                    <span> {{nbparticipant}} participants </span>
                </li>
                <li  id="li3">
                    <img src= "assets/user.png"> 
                    <span> {{nbformateur}} Formateurs </span>
                </li>
            </ul>
        </div>
        <div>
            <table id="tab1">
                <tr>
                   <th> Stack </th>
                    <th>Nombre de Sessions </th>
                </tr>
                <tr>
                    <td>MEAN Stack </td>
                    <td>{{meanstack}}</td>
                </tr>
                <tr>
                    <td>Android</td>
                    <td>{{android}}</td>
                </tr>
                <tr>
                    <td>Ionic </td>
                    <td>{{ionic}}</td>
                </tr>
                <tr>
                    <td>Angular </td>
                    <td>{{angular}}</td>
                </tr>
                <tr>
                    <td>NodeJS </td>
                    <td>{{nodejs}}</td>
                </tr>
                <tr>
                    <td>Xamarin </td>
                    <td>{{Xamarin}}</td>
                </tr>
            </table>
            <table id="tab2">
                <tr><th> top Formateurs</th></tr>
                <tr>Chebbi Rym </tr>
                <tr>Mettichi Amani</tr>
            </table>
        </div>
    </section>
</body>